@import url("https://fonts.googleapis.com/css2?family=Hubot+Sans:ital,wght@0,200..900;1,200..900&display=swap");

* {
  border: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box;
  font-family: "Hubot Sans", sans-serif;
  /* outline: 1px solid #000; */
}

::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;
}

body {
  scroll-behavior: smooth;
  color: #333333;
  background-color: #f4f4f4;
}

.personal-info {
  position: relative;
  overflow: hidden;
  width: 100vw;
  display: flex;
  align-items: center;
}

.personal-info__text-section {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  height: 100vh;
  text-align: left;
  justify-content: center;
  width: 40vw;
  padding: 1rem;
}

.text-section__text1,
.text-section__text4{
  position: relative;
  font-size: 2rem;
}

.text-section__icon1{
  position: absolute;
  font-size: 2rem;
  margin-top: 1.25rem;
  margin-left: 1.25rem;
}

.text-section__text2{
  font-size: 3.5rem;
}

.text-section__text3{
  font-size: 1rem;
}

.highlight{
  color: #0a3c56;
}

.text-section__text5 a{
  text-decoration: none;
  color: #007acc;
}

.text-section__button {
  background-color: #007acc;
  padding: 1rem 0;
  border-radius: 0.5rem;
}

.text-section__button a{
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}

.personal-info__image-section {
  position: relative;
  width: 60vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  flex: 1;
}

.image-section__image-highlight{
  position: absolute;
  background-color:#0a3c56;
  height: 1500px;
  width: 1500px;
  left: 0;
  border-radius: 100%;
}

.image-section__image{
  position: absolute;
  width: 88vh;
  bottom: -30px;
  right: 0;
}


@media (max-width: 1138px) {
  .personal-info__text-section,
  .personal-info__image-section{
    width: 100vw;
  }

  .personal-info__text-section{
    height: 60vh;
  }

  .personal-info__image-section{
    background-color: #0a3c56;
  }

  .image-section__image-highlight{
    display: none;
  }

  .image-section__image{
    width: 40vh;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
  }

  .personal-info{
    flex-direction: column-reverse;
    height: 100vh;
  }
}

/* Styling for New Approach */
.projects-gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.projects-gallery__text1 {
  font-weight: 800;
  font-size: 3rem;
  text-align: center;
  margin-top: 2rem;
}

.projects-container {
  flex: 1;
  display: flex;
  gap: 1rem;
  padding: 4rem;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.arrow-left, .arrow-right {
  background-color: #0a3c56;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  color: #fff;
  padding: 0.5rem;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.projects-wrapper {
  display: flex;
  overflow: hidden;
  width: 80vw;
  height: 100%;
  border-radius: 8px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.project {
  position: relative;
  min-width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
  transition: transform 0.5s ease;
}

.project-actual{
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.project__image{
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.project__description{
  position: relative;
  z-index: 1;
  height: auto;
  width: 100%;
  padding: 1rem;
  background-color: rgba(255, 255, 255); 
}

.description__location{
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.75rem;
  color: #0a3c56;
  margin-bottom: 1rem;
}

.description__info{
  color: gray;
  font-size: 1.25rem;
}

@media (max-width: 1138px) {
  .projects-container {
    flex-direction: column;
  }

  .projects-wrapper {
    flex-direction: column;
    overflow: hidden;
  }

  .project {
    width: 100%;
    min-height: 100%;
  }

  .arrow-left,
  .arrow-right{
    transform: rotate(90deg);
  }
}

@media (max-width: 768px){
  .project__description h2{
    font-size: 1.75rem;
  }

  .description__info{
    font-size: 1rem;
  }
}


/* Styling for content section of the webpage */
.sections-container {
  display: flex;
}

/* Styling for navbar of the content section of the webpage */
.navbar ul {
  display: flex;
  flex-direction: column;
  height: 100%;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  background-color: #0a3c56;
  padding: 0;
}

.navbar ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  margin-left: 0;
  padding: 0 1rem;
  font-weight: 600;
  color: #000;
}

.navbar ul li:hover,
.navbar ul li.active {
  background-color: rgba(167, 232, 247, 0.1254901961);
}

.navbar ul li i {
  color: #ffc25c;
  font-size: 2rem;
}


/* Styling for sections of the content page */
.sections {
  flex: 1;
  width: 100%;
  overflow: scroll;
}

.educations,
.experiences,
.skills,
.achievements,
.self-motivated-projects {
  height: 100vh;
  display: none;
}

.active {
  display: block;
}

.section-heading {
  height: 20vh;
  width: 100%;
  font-size: 4rem;
  display: flex;
  align-items: center;
  padding-left: 2rem;
}

/* Individual styling for the education section of the content page */
.education-container,
.experience-container,
.achievement-container {
  margin-left: 4rem;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.education-heading,
.experience-heading,
.skill-heading,
.achievement-heading {
  font-size: 2rem;
}

.education-year,
.experience-info,
.achievement-year {
  display: flex;
  justify-content: center;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  gap: 1rem;
  margin-top: 0.25rem;
  margin-left: 0.5rem;
}

.education-year i:nth-child(1),
.achievement-year i:nth-child(1) {
  transform: rotate(90deg);
}

.education-para,
.experience-para,
.achievement-para {
  margin-top: 1rem;
  line-height: 2rem;
  font-size: 1.15rem;
}

.fa-arrow-turn-up{
  transform: rotate(90deg);
}


/* Individual styling for the experience section of the content page */
.experience-container{
  gap: 2rem;
}

.experience-subinfo{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 1rem;
}

.fa-calendar,
.fa-location-dot{
  margin-right: 0.5rem;
}



/* Individual styling for the skills section of the content page */
.skill-container {
  margin-left: 4rem;
  display: flex;
  gap: 5rem;
}

.skill {
  flex: 1;
}

.skill ul{
  margin-top: 1rem;
}

.skill ul li,
.achievement ul li{
  line-height: 2rem;
  font-size: 1.15rem;
}

.achievement ul li{
  line-height: 2rem;
}

@media (max-width: 768px){
  .sections-container{
    flex-direction: column;
  }

  .navbar {
    position: sticky;
    top: 0;
    z-index: 999;
  }

  .navbar ul{
    flex-direction: initial;
  }

  .navbar ul li{
    padding: 1rem 0;
  }

  .navbar ul li i {
    color: #ffc25c;
    font-size: 1.75rem;
  }

  .section-heading{
    height: auto;
    font-size: 2.5rem;
    justify-content: center;
    padding: 1rem 0;
  }

  .education-container,
  .experience-container,
  .achievement-container,
  .skill-container {
    flex-direction: column;
    margin-left: 0;
    padding: 1rem;
    gap: 2rem;
  }
}

/* Styling for footer section of the webpage */
footer {
  background-color: #0a3c56;
  color: #ffffff;
  padding: 1rem;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-info {
  text-align: left;
}

.footer-info h2 {
  font-size: 2rem;
}

.footer-info p:nth-child(2) {
  font-size: 0.75rem;
}

.footer-contact {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer-contact i {
  font-size: 1.25rem;
  color: #ffc25c;
  cursor: pointer;
}
